<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212513626815-q816796s8nd40612kavv4mev6mffb8qv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212513626815-q816796s8nd40612kavv4mev6mffb8qv</string>
	<key>API_KEY</key>
	<string>AIzaSyD3nnKynJU14IO5hteaBH4sMj8RjvZLfB8</string>
	<key>GCM_SENDER_ID</key>
	<string>212513626815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notificationFcm</string>
	<key>PROJECT_ID</key>
	<string>testingproject-f20cb</string>
	<key>STORAGE_BUCKET</key>
	<string>testingproject-f20cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212513626815:ios:91fac98a28644c654e440a</string>
</dict>
</plist>